@import "tailwindcss";
/* import 'react-inner-image-zoom/lib/styles.min.css'; */

@theme{
  --breakpoint-sm: 400px;
  --breakpoint-md: 640px;
  --breakpoint-lg: 920px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1920px;
  /* Primary Colors */
  --color-primary: #683C86; /* Primary/Purple 3 */
  --color-primary-tint: #C4ACF0; /* Primary/Purple 1 */
  --color-primary-light: #F4EEFE; /* Lights/Purple */
  --color-primary-foreground:#FFFFFF;

  /* Secondary Blue 1 */
  --color-secondary: #5E92F8;
  --color-secondary-tint: #BFD3FC;
  --color-secondary-light: #EFF4FE;

  /* Secondary Blue 2 */
  --color-blue: #01B0ED;
  --color-blue-tint: #B1E6F9;
  --color-blue-light: #E6F7FD;

  /* Teal */
  --color-teal: #71C6BF;
  --color-teal-tint: #C6E8E5;
  --color-teal-light: #F1F9F9;

  /* Green */
  --color-green: #46B87C;
  --color-green-tint: #B5E3CB;
  --color-green-light: #EBF6F0;

  /* Yellow */
  --color-yellow: #F89B4C;
  --color-yellow-tint: #FCD7B7;
  --color-yellow-light: #FEF5ED;
  --color-yellow-background:#FFE1C8;

  /* Pink */
  --color-pink: #FA9ABB;
  --color-pink-tint: #FDD7E4;
  --color-pink-light: #FFF5F8;

  /* Watermelon */
  --color-watermelon: #EF596B;
  --color-watermelon-tint: #F7ACB5;
  --color-watermelon-light: #FCDEE1;

  /* Charcoal */
  --color-charcoal: #456877;
  --color-charcoal-tint: #8FA4AD;
  --color-charcoal-light: #DAE1E4;

  /* Font and Utility Colors */
  --color-font: #687184;
  --color-navy: #27344F;

  --color-off-white: #F4EAE2;
  --color-off-white-2: #F1F2EF;

  --color-white: #FFFFFF;
  --color-black: #000000;

}

/* Add this to your global CSS file */

.custom-input-no-ring:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* Add a thin border instead */
.custom-input-purple-focus:focus {
  border-color: #a855f7 !important;
  border-width: 1px !important;
}

.iiz{
  max-height: inherit;
}

.iiz div{
  max-height: inherit;
}

.iiz__img{
  width: 100%;
  object-fit: cover;
  max-height: inherit;
}

.iiz > span{
  display: none;
}

  

